<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sellada.listener.Listener</listener-class>
    </listener>
    <context-param>
        <param-name>class</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver </param-value>
    </context-param>
    <context-param>
        <param-name>path</param-name>
        <param-value>jdbc:oracle:thin:@//localhost:1521/xe</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sellada</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sellada</param-value>
    </context-param>
    <servlet>
        <servlet-name>SellerSignup</servlet-name>
        <servlet-class>sellada.controller.SellerSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>sellada.util.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerLogin</servlet-name>
        <servlet-class>sellada.controller.SellerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductAdding</servlet-name>
        <servlet-class>sellada.controller.SellerProductAdding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourProducts</servlet-name>
        <servlet-class>sellada.controller.YourProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellerSignup</servlet-name>
        <url-pattern>/SellerSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerLogin</servlet-name>
        <url-pattern>/SellerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductAdding</servlet-name>
        <url-pattern>/SellerProductAdding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourProducts</servlet-name>
        <url-pattern>/YourProducts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
